body {
  background-color: #eeeeee;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

hr {
  border-style: dotted;
  border-color: transparent;
  border-bottom: none;
  border-width: 5px;
  width: 5%;
  margin: 50px auto;
}
p {
  line-height: 2;
}

h1 {
  margin: auto;
  font-family: "Lexend";
  font-weight: 300;
  font-size: 5.6rem;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: #66bfbf;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  color: #11999e;
}

a {
  color: #11999e;
  text-decoration: none;
}

a:hover {
  color: #2bc4ad;
  text-decoration: none;
}

/* .navbar {
  padding: 10px 10px 10px 30px;
  width: 100%;
  background-color: #e4f9f5;
  display: flex;
  flex-direction: row;
  position: fixed;
} */

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-light .navbar-toggler {
  color: #11999e;
  border-width: 2px;
  border-color: #11999e;
}

.navbar {
  z-index: 1;
  background-color: #e4f9f5;
  position: sticky;
  top: 0;
  text-align: left;
  line-height: 2.5;
}

.navbar ul li {
  padding: 0 20px;
  display: inline-block;
}

/* .navbar ul { */
/* position: absolute; */
/* top: 2em; */
/* right: 5em; */
/* text-align: center; */
/* flex-direction: row; */
/* list-style-type: none; */
/* margin: 0; */
/* padding: 0 auto; */
/* display: inline-block; */
/* } */
/*  */
/* .navbar ul li { */
/* display: inline-block; */
/* padding-left: 50px; */
/* } */

.navbar-img {
  border-radius: 100%;
  width: 4em;
  height: 4em;
  padding: 10px;
  display: inline-block;
}

.opening {
  text-align: center;
}

.opening-text {
  margin: auto;
  text-align: left;
  padding: 3% 3% 5%;
}

.footer-link {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  padding: 10px;
}

#about-me {
  border-color: transparent;
}

.profile-image {
  border-radius: 100%;
  width: 200px;
  margin-bottom: 40px;
}

.profile {
  padding: 0 0 30px;
}

/* .web-dev-image {
  width: 15em;
  padding: 70px 20px;
} */

@media (max-width: 415px) {
  .dev-image {
    display: none;
  }

  .opening {
    padding-bottom: 50px;
  }
}

.dev-image {
  padding: 2% 3% 2%;
  margin: auto;
}

.work-section {
  background-color: #11999e;
  padding: 70px 0 20px;
}

.work-col {
  margin: auto;
  padding: 40px 0;
}

.work-hr {
  border-color: transparent;
}

.work-row {
  width: 100%;
}

.row {
  margin: 0;
}

.work-image {
  width: 45%;
}

.work-desc {
  color: #eeeeee;
  width: 45%;
  text-align: center;
  margin: auto;
}

.projects {
  position: relative;
  padding: 70px 0 30px;
  background-color: #eaf6f6;
}

.project-desc {
  margin: 20px 0 0;
  text-align: center;
}

.carousel-indicators {
  z-index: 0;
  position: absolute;
  bottom: 0;
}

.carousel-indicators li {
  background-color: gray;
}

.carousel-indicators .active {
  background-color: #11cdd4;
}

.project-row {
  width: 50%;
  margin: 50px auto 100px;
  text-align: center;
}

.project-intro {
  width: 60%;
  margin: auto;
}

.contact-me {
  padding: 70px 0 0;
}

.intro {
  margin: auto;
  max-width: 60%;
}

.project-image {
  width: 10rem;
  margin-bottom: 3rem;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.middle-container {
  margin: 50px 0;
  padding: 30px 0 30px;
}

.top-container {
  background-color: #e4f9f5;
  padding: 0 50px 0;
}

.contact-message {
  width: 60%;
  margin: 40px auto;
}

.contact-me-button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", serif;
  font-size: 18px;
  padding: 12px;
  /* -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000; */
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-me-button:hover {
  border: solid #337fed 1px;
  background: #30e3ca;
  background-image: -webkit-linear-gradient(top, #30e3ca, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3ca, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3ca, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3ca, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3ca, #2bc4ad);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}
